$white: #ffffff;
$black: #000000;
$primary: #ffb1bb;
$light: #fbfcf6;
$dark: #101820;
$bg-light: #000000;
$bg-primary: #ffd6dc;
$bg-secondary: #f2eee9;

$colors: (
        'white': $white,
        'black': $black,
        'primary': $primary,
        'light': $light,
        'dark': $dark,
        'bg-light': $bg-light,
        'bg-primary': $bg-primary,
        'bg-secondary': $bg-secondary
);