@mixin flex-row($wrap: wrap) {
  display: flex;
  flex-direction: row;
  flex-wrap: $wrap;
}

@mixin flex-row-reverse($wrap: wrap) {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: $wrap;
}

@mixin flex-colm($wrap: wrap) {
  display: flex;
  flex-direction: column;
  flex-wrap: $wrap;
}

@mixin flex-colm-reverse($wrap: wrap) {
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: $wrap;
}

@mixin flex-center() {
  align-items: center;
  justify-content: center;
}